data/models/hum_prom_short1.pth
data/models/naive.pth
data/models/genomic_pretrained.pth
data/models/genomic_pretrained_finetune.pth
data/models/human_LM_short_finetune.pth
data/models/human_LM_short_finetune_enc.pth
data/models/hum_prom_short.pth
data/models/human_short_human_pretrain.pth
data/models/human_short_human_pretrain_finetune.pth
data/models/human_3m1s.pth
data/models/human_3m1s2.pth
data/models/human_3m1s2_fp32.pth
data/models/human_5m1s.pth
data/models/human_5m1s2.pth
data/models/human_genome_full3.pth
data/models/human_genome_full_enc3.pth
data/models/human_LM_short_3m1s.pth
data/models/human_short_human_pretrain_finetune_3m1s.pth
data/models/human_LM_short_5m1s.pth
data/models/human_short_human_pretrain_finetune_5m1s.pth
data/GCF_000001405.38_GRCh38.p12_cds_from_genomic.fna
data/human_genome_data_fa.csv
data/human_genome_data.csv